<!DOCTYPE html>
<html lang="en" class="no-js">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visa Letter Generator</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" href="{% static 'generateletter/images/favicon.ico' %}">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'generateletter/css/index/bootstrap.min.css' %}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'generateletter/css/index/materialdesignicons.min.css' %}" />

    <!-- Pe-icon-7 icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'generateletter/css/index/Pe-icon-7-stroke.css' %}">

    <!-- Magnific pop-up -->
    <link rel="stylesheet" type="text/css" href="{% static 'generateletter/css/index/magnific-popup.css' %}" />

    <!--Slider-->
    <link rel="stylesheet" href="{% static 'generateletter/css/index/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'generateletter/css/index/owl.theme.css' %}" />
    <link rel="stylesheet" href="{% static 'generateletter/css/index/owl.transitions.css' %}" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'generateletter/css/index/style.css' %}" />
    <link rel="stylesheet" href="{% static 'generateletter/css/index/colors/green.css' %}" id="color-opt">


</head>

<body>

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo text-uppercase" href="{% url 'Volshebny_visa_letter:index' %}">
                    MY VISA LETTER
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#features" class="nav-link">Process</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Features</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tutorial" class="nav-link">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a href="#client" class="nav-link">Client</a>
                    </li>
                    <li>
                       <a href="#ModalCenter" data-toggle="modal" data-target="#ModalCenter"><button class="btn btn-success btn-sm"> Contact Now</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- START HOME -->
    <section class="home-2" id="home">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-content text-center mt-5 pt-4">
                                <p class="home-desc mx-auto f-16">Best Tool for Travel Agencies.</p>
                                <h2 class="home-title-2 line-height_1_3">Generate Visa Letter of any Country , of any Language with ease</h2>
                                <div class="mt-4">
                                    <a href="{% url 'Volshebny_visa_letter:Login' %}" class="btn btn-custom">Quick Demo</a>
                                </div>
                                <div class="home-mockup-2">
                                    <img src="{% static 'generateletter/images/form.png' %}" class="img-fluid" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
    
    <!-- START FEATURES -->
    <section class="section bg-light" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-content text-center">
                        <h3 class="title-heading">Our Process</h3>
                        <p class="title-desc text-muted mt-3">Generate Visa Letter in two simple steps. </p>
                        <div class="title-border mt-4"></div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3 vertical-content">
                <div class="col-lg-7">
                    <div class="features-img mt-4 text-center">
                        <img src="{% static 'generateletter/images/features/img-1.svg' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="features-content mt-4">
                        <p class="features-count-2 text-custom">01</p>
                        <h5>To fill a form in english</h5>
                        <p class="text-muted mt-3">We have a simple one page form. Passengers,Organizations,trips details and the desired language to be translated in have to be entered in english.</p>
                       
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4 vertical-content">
                <div class="col-lg-5">
                    <div class="features-content mt-4">
                        <p class="features-count-2 text-custom">02</p>
                        <h5>To download the visa document in your desired language.</h5>
                        <p class="text-muted mt-3">We generate the visa document in english and your desired language.You have to simply download the pdf of your visa letter.</p>

                        <div class="mt-4">
                            <a href="" class="btn btn-sm btn-custom">Quick Demo</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="features-img mt-4 text-center">
                        <img src="{% static 'generateletter/images/features/img-2.svg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END FEATURES -->
    

    <!-- START SERVICES -->
    <section class="section" id="services">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="title-content text-center">
                        <h3 class="title-heading">Our Features</h3>
                        <p class="title-desc text-muted mt-3">MyVisaLetter is a simple yet powerful visa letter translation tool developed to make travel agents life simple. </p>
                        <div class="title-border mt-4"></div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-lg-4">
                    <div class="services-box text-center mt-4">
                        <div class="services-icon">
                            <i><img src="{% static 'generateletter/images/services/writeletter.png' %}"></i>
                        </div>
                        <h5 class="mt-4">Simple Process</h5>
                        <p class="text-muted mt-4 mb-0">.We have a simple two steps process.Fill the form and download the visa document.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="services-box text-center mt-4">
                        <div class="services-icon">
                             <i><img src="{% static 'generateletter/images/services/translator.png' %}"></i>
                        </div>
                        <h5 class="mt-4">Accurate Translation</h5>
                        <p class="text-muted mt-4 mb-0">We use powerful APIs which supports more than 100 accurate translation languages and have more than 100000+ accurate translations .</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="services-box text-center mt-4">
                        <div class="services-icon">
                             <i><img src="{% static 'generateletter/images/services/document.png' %}"></i>
                        </div>
                        <h5 class="mt-4">Total Customizable</h5>
                        <p class="text-muted mt-4 mb-0">MyVisaLetter can be customized according to travel agents needs and requirements.For more details please call 7045678009</p>
                    </div>
                </div>

            </div>

           
        </div>
    </section>
    <!-- END SERVICES -->

    

    <!-- START COUNTER -->
    <section class="section-lg jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('images/bg-1.jpg');">
        <div class="bg-overlay"></div>
        <div class="container">

            <div class="row vertical-content" id="counter">
                <div class="col-lg-3">
                    <div class="counter-box-2 mt-4 text-center text-white">
                        <div class="counter-icon-2">
                                <img src="{% static 'generateletter/images/coffee-cup1.png' %}">
                        </div>
                        <div class="counter-content-2 mt-4">
                            <h1><span class="counter-value" data-count="1800">652</span></h1>
                            <h5 class="mb-0 mt-4">Cups of coffee</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box-2 mt-4 text-center text-white">

                        <div class="counter-icon-2">
                                <img src="{% static 'generateletter/images/smile.png' %}">
                        </div>

                        <div class="counter-content-2 mt-4">
                            <h1><span class="counter-value" data-count="9">0</span></h1>
                            <h5 class="mb-0 mt-4">Happy Travel Agents</h5>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="counter-box-2 mt-4 text-center text-white">

                        <div class="counter-icon-2">
                            <img src="{% static 'generateletter/images/like.png' %}">
                        </div>

                        <div class="counter-content-2 mt-4">
                            <h1><span class="counter-value" data-count="5645">2358</span></h1>
                            <h5 class="mb-0 mt-4">Succesfull Translations</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="counter-box-2 mt-4 text-center text-white">

                        <div class="counter-icon-2 ">
                                <img src="{% static 'generateletter/images/trophy.png' %}">
                        </div>

                        <div class="counter-content-2 mt-4">
                            <h1><span class="counter-value" data-count="5">0</span></h1>
                            <h5 class="mb-0 mt-4">Research Papers Published</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END COUNTER -->
    
     <!-- START tutorial -->
    <section class="section bg-light" id="tutorial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-content text-center">
                        <h3 class="title-heading">Tutorial</h3>
                        <p class="title-desc text-muted mt-3">Videos from our team to get you started quickly. </p>
                        <div class="title-border mt-4"></div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 mt-3">
                <div class="col-lg-4">
                    <div class="blog-box-2 mt-4">
                        <div class="blog-img-2">
                           <video width="350" height="280" controls>
                               <source src="{% static 'generateletter/video/fillform.mp4' %}" type="video/mp4">
                            </video>
                            <!-- <img src="{% static 'generateletter/images/blog/img-1.jpg' %}" class="img-fluid" alt=""> -->
                        </div>

                        <div class="bg-white p-3">
                            <div class="blog-icon-2">
                                <!-- <i class="pe-7s-camera"></i> -->
                            </div>
                            <!-- <p class="text-muted f-15">20/08/2018</p> -->
                            <div class="blog-title">
                                <a href="">Fill the form.</a>
                            </div>
                            <div class="blog-border-2 mt-3"></div>
                            <p class="text-muted f-15 mt-3">We have a simple one page form. Passengers,Organizations,trips details and the desired language to be translated in have to be entered in english.</p>
                            <div class="mt-3">
                                <!-- <a href="" class="text-custom">Read more<i class="mdi mdi-chevron-double-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box-2 mt-4">
                        <div class="blog-img-2">
                                <video width="350" height="280" controls>
                                        <source src="{% static 'generateletter/video/visaletter.mp4' %}" type="video/mp4">
                                     </video>
                            <!-- <img src="{% static 'generateletter/images/blog/img-2.jpg' %}" class="img-fluid" alt=""> -->
                        </div>

                        <div class="bg-white p-3">
                            <div class="blog-icon-2">
                                <!-- <i class="pe-7s-camera"></i> -->
                            </div>

                            <!-- <p class="text-muted f-15">25/08/2018</p> -->
                            <div class="blog-title">
                                <a href="">Download the visa letter.</a>
                            </div>
                            <div class="blog-border-2 mt-3"></div>
                            <p class="text-muted f-15 mt-3">We generate the visa document in english and your desired language.You have to simply download the pdf of your visa letter.</p>
                            <div class="mt-3">
                                <!-- <a href="" class="text-custom">Read more<i class="mdi mdi-chevron-double-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box-2 mt-4">
                        <div class="blog-img-2">
                                <video width="350" height="280" controls>
                                        <source src="{% static 'generateletter/video/contact.mp4' %}" type="video/mp4">
                                     </video>
                            <!-- <img src="{% static 'generateletter/images/blog/img-3.jpg' %}" class="img-fluid" alt=""> -->
                        </div>

                        <div class="bg-white p-3">
                            <div class="blog-icon-2">
                                <!-- <i class="pe-7s-camera"></i> -->
                            </div>

                            <!-- <p class="text-muted f-15">25/08/2018</p> -->

                            <div class="blog-title">
                                <a href="">How to contact us.</a>
                            </div>
                            <div class="blog-border-2 mt-3"></div>
                            <p class="text-muted f-15 mt-3">There is a form above.Please fill the form above or contact us at 7045678009</p>
                            <div class="mt-3">
                                <!-- <a href="" class="text-custom">Read more<i class="mdi mdi-chevron-double-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- 
             <div class="row mt-5 mt-3">
                <div class="col-lg-4">
                    <div class="blog-box-2 mt-4">
                        <div class="blog-img-2">
                            <img src="{% static 'generateletter/images/blog/img-1.jpg' %}" class="img-fluid" alt="">
                        </div>

                        <div class="bg-white p-3">
                            <div class="blog-icon-2">
                                <i class="pe-7s-camera"></i>
                            </div>
                            <p class="text-muted f-15">20/08/2018</p>
                            <div class="blog-title">
                                <a href="">Phasellus semper habitant fames.</a>
                            </div>
                            <div class="blog-border-2 mt-3"></div>
                            <p class="text-muted f-15 mt-3">Quisque cursus her porttitor massa aliquam turpis ullmcorper faucibus the suspendisse gravida posuere turpis aliquam.</p>
                            <div class="mt-3">
                                <a href="" class="text-custom">Read more<i class="mdi mdi-chevron-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box-2 mt-4">
                        <div class="blog-img-2">
                            <img src="{% static 'generateletter/images/blog/img-2.jpg' %}" class="img-fluid" alt="">
                        </div>

                        <div class="bg-white p-3">
                            <div class="blog-icon-2">
                                <i class="pe-7s-camera"></i>
                            </div>

                            <p class="text-muted f-15">25/08/2018</p>
                            <div class="blog-title">
                                <a href="">Fabitant tristie senectus maleda.</a>
                            </div>
                            <div class="blog-border-2 mt-3"></div>
                            <p class="text-muted f-15 mt-3">Muisque cursus her porttitor massa aliquam turpis ullmcorper faucibus the suspendisse gravida posuere turpis aliquam.</p>
                            <div class="mt-3">
                                <a href="" class="text-custom">Read more<i class="mdi mdi-chevron-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog-box-2 mt-4">
                        <div class="blog-img-2">
                            <img src="{% static 'generateletter/images/blog/img-3.jpg' %}" class="img-fluid" alt="">
                        </div>

                        <div class="bg-white p-3">
                            <div class="blog-icon-2">
                                <i class="pe-7s-camera"></i>
                            </div>

                            <p class="text-muted f-15">25/08/2018</p>

                            <div class="blog-title">
                                <a href="">Mauris pulvinar aliquam aliquet.</a>
                            </div>
                            <div class="blog-border-2 mt-3"></div>
                            <p class="text-muted f-15 mt-3">Suisque cursus her porttitor massa aliquam turpis ullmcorper faucibus the suspendisse gravida posuere turpis aliquam.</p>
                            <div class="mt-3">
                                <a href="" class="text-custom">Read more<i class="mdi mdi-chevron-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             -->
            
        </div>
    </section>
    <!-- END BLOG -->

    <!-- START CTA -->
    <section class="section-lg bg-cta" style="background-image: url('images/bg-2.jpg');" id="contact">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box text-center">
                        <h3 class="cta-title">Get a discount of 15% on the annual maintainance charges.</h3>
                        <p class="cta-desc mt-4 f-16">We have minimum subscription charges. For more details.</p>

                        <div class="mt-5">
                            <button type="button" class="btn btn-sm btn-custom" data-toggle="modal" data-target="#ModalCenter">
                                Contact Us
                            </button>
                        </div>
                        <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Contact Us</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="custom-form mt-4">
                                            <div id="message"></div>
                                            <form method="post" action="{% url 'Volshebny_visa_letter:index' %}" name="contact-form" id="contact-form" onSubmit="alert('Thank you. Our Team Will get back to you as soon as possible.')">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group mb-4">
                                                            <input name="name" id="name" type="text" class="form-control" placeholder="Your Name...">
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <input name="email" id="email" type="email" class="form-control" placeholder="Your Email...">
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <input name="subject" id="subject" type="text" class="form-control" placeholder="Your Subject...">
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your Message..."></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-sm-12 text-right">
                                                        <input type="submit" id="submit" name="send" class="submitBnt btn btn-sm btn-custom" value="Send Message" onclick="">
                                                        <div id="simple-msg"></div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- /form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END CTA -->

   <!-- START CLIENTS -->
    <section class="section" id="client">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-content text-center">
                        <h3 class="title-heading">Our clients said</h3>
                        <p class="title-desc text-muted mt-3">We always want to hear what our clients have to say.We build.We learn and We improve.. </p>
                        <div class="title-border mt-4"></div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-lg-12">
                    <div class="owl-carousel" id="owl-demo-1">
                        <div class="item mr-2 ml-2 mt-4">
                            <div class="client-box-2 text-center">
                                <div class="client-desc-2 bg-light p-4 rounded">
                                    <p class="mb-5" >I will recommend you to my colleagues.It's really wonderfull.No matter where you go. MyVisaLetterGenerator is the easiest and collest one to genearate visa documents.</p>
                                </div>
                                <div class="client-img-2">
                                    <!-- <img src="{% static 'generateletter/images/user/img-1.jpg' %}" class="img-fluid rounded-circle" alt="testimonial1"> -->
                                </div>
                                <h5>Soham Thaker</h5>
                                <p class="text-muted f-14">Designer</p>
                            </div>
                        </div>

                        <div class="item mr-2 ml-2 mt-4">
                            <div class="client-box-2 text-center">
                                <div class="client-desc-2 bg-light p-4">
                                    <p class="mb-5">Keep up the excellent work.It's just amazing.Buy this now.I wish i would have thought of it first and the visa letters coul have been generated easily..</p>
                                </div>
                                <div class="client-img-2">
                                    <!-- <img src="{% static 'generateletter/images/user/img-2.jpg' %}" class="img-fluid rounded-circle" > -->
                                </div>
                                <h5>Julie Jones</h5>
                                <p class="text-muted f-14">Manager</p>
                            </div>
                        </div>

                        <div class="item mr-2 ml-2 mt-4">
                            <div class="client-box-2 text-center">
                                <div class="client-desc-2 bg-light p-4">
                                    <p class="mb-5">MyVisaLetter.com is great due to its translation in different languages.The service is excellent.It has made Visa generation easy in different languages.</p>
                                </div>
                                <div class="client-img-2">
                                    <!-- <img src="{% static 'generateletter/images/user/img-3.jpg' %}" class="img-fluid rounded-circle" alt=""> -->
                                </div>
                                <h5>John Doe</h5>
                                <p class="text-muted f-14">Developer</p>
                            </div>
                        </div>

                        <div class="item mr-2 ml-2 mt-4">
                            <div class="client-box-2 text-center">
                                <div class="client-desc-2 bg-light p-4">
                                    <p class="mb-5">I strongly recommend MyVisaLetter to everyone interested in running a succesfull Tour business. It has been very helpful to me.</p>
                                </div>
                                <div class="client-img-2">
                                    <!-- <img src="{% static 'generateletter/images/user/img-4.jpg' %}" class="img-fluid rounded-circle" alt=""> -->
                                </div>
                                <h5>James Lackey</h5>
                                <p class="text-muted f-14">Ceo </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            </div>
    </section>
    <!-- END Clients -->
    <!-- START FOOTER -->
    <section class="section bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-box">
                        <h2 class="footer-heading text-uppercase">
                        MY VISA LETTER
                    </h2>

                        <p class="footer-info mt-4 f-15">Praesent cursus accumsan luctus morbi ullamcorper laoreet magna vulputate quis integer fermentum cursus etiam pulvinar magna venenatis cursus.</p>
                        <!-- <div class="mt-4">
                            <ul class="list-inline subscribe-social">
                                <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="" class="social-icon"><i class="mdi mdi-google-plus"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="footer-box">
                        <h5 class="footer-heading text-uppercase">
                        Quick links
                    </h5>

                        <ul class="list-unstyled footer-link mt-4">
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>Features</a></li>
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>About Us</a></li>
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>Client</a></li>
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>Pricing</a></li>
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>Team</a></li>
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>Contact</a></li>

                        </ul>
                    </div>

                </div>

                <div class="col-lg-2">
                    <div class="footer-box">
                        <h5 class="footer-heading text-uppercase">
                        Resources
                    </h5>

                        <ul class="list-unstyled footer-link mt-4">
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>Tutorial</a></li>
                            <li><a href=""><i class="mdi mdi-chevron-right mr-2"></i>Manual</a></li>
                            <li><a href="{% url 'Volshebny_visa_letter:terms_cond' %}"><i class="mdi mdi-chevron-right mr-2"></i>Term & Conditions</a></li>
                            

                        </ul>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="footer-box">
                        <h5 class="footer-heading text-uppercase">
                        Subscribe Now
                    </h5>

                        <p class="footer-info mt-4 f-15">Please enter your email below.Our team will get in touch</p>

                        <div class="footer-subcribe mt-4">
                            <form action="#">
                                <input placeholder="Email" type="text">
                                <button type="submit" class="btn btn-custom"><i class="mdi mdi-airplane"></i></button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <hr class="mt-4" />

            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-alt text-center">
                        <p class="footer-info f-15 mb-0 mt-3">&copy;Designed and developed by Finity TechServ</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->
    
    <!-- JAVASCRIPTS -->
    <script src="{% static 'generateletter/js/index/jquery.min.js' %}"></script>
    <script src="{% static 'generateletter/js/index/popper.min.js' %}"></script>
    <script src="{% static 'generateletter/js/index/bootstrap.min.js' %}"></script>
    <script src="{% static 'generateletter/js/index/jquery.easing.min.js' %}"></script>
    <script src="{% static 'generateletter/js/index/scrollspy.min.js' %}"></script>
    <script src="{% static 'generateletter/js/index/counter.init.js' %}"></script>
    <script src="{% static 'generateletter/js/index/contact-form.init.js' %}"></script>
    <!-- owl-carousel -->
    <script src="{% static 'generateletter/js/index/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'generateletter/js/index/jquery.magnific-popup.min.js' %}"></script>
    <!-- JARALLAX JS -->
    <script src="{% static 'generateletter/js/index/jarallax.js' %}"></script>
    <script src="{% static 'generateletter/js/index/app.js' %}"></script>
</body>

</html>