<html>

<head>

    <title>base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1f5b99">
        <a class="navbar-brand" href="#" style="color: #ffffff">Volshebny Visa Letter Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="generate_visa_letter.html" style="color: #ffffff">Generate Visa Letter <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="view_visa_lettern.html" style="color: #ffffff">View All Visa Letter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #ffffff">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #ffffff">Report</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <div style="margin-left: 5px;margin-right: 5px"><br><br><br>
        <h3>All Visa Letters</h3>
        <hr>
            <table id="myTable" class="display">
    <thead>
        
        <tr>
            <th>Sr No.</th>
            <th>Visa letter Number</th>
            <th>Date Of Letter</th>
            <th>Entry From</th>
            <th>Departure To</th>
            <th>Routes & Places</th>
            <th>Number of Passengers</th>
            <th>Organization Details</th>
            <th>Payment Status</th>
            <th>Action</th>
        </tr>
    </thead>
    {% for acc in list_view %}
    <tr style="font-size:16px">
      <td>{{ acc.Visa_Letter_Number }}</td>
      <td>{{ acc.Date_of_letter }}</td>
      <td>{{ acc.Routes_and_Places }}</td>
      <td>{{ acc.no_passengers }}</td>
      <td>{{ acc.amount }}</td>
      <td class="dropdown"><a href ='#' class = 'btn  dropdown-toggle' id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:16px;color:#F5DD5D;background-color: #417690">GENERATE</a>
      <!-- Dropdown -->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton ">
            <a class="dropdown-item" style="font-size:20px" href="{% url 'Volshebny_visa_letter:gen_eng_visa' %}">Generate English visa letter</a>
            <a class="dropdown-item"  style="font-size:20px" href="{% url 'Volshebny_visa_letter:visa' visa_letter_id=acc.pk %}">Generate Russian visa letter</a>
            <a class="dropdown-item"  style="font-size:20px" href="{% url 'Volshebny_visa_letter:gen_eng_voucher' pk=acc.pk %}">Generate English Voucher</a>
            <a class="dropdown-item"  style="font-size:20px" href="{% url 'Volshebny_visa_letter:gen_rus_voucher' pk=acc.pk %}">Generate Russian Voucher</a>
          </div>
        </td>
      <!-- End of dropdown -->
    </tr>
  {% endfor %}
</table>

    </div>
    
    <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
    </script>
</body>

</html>